.App {
  text-align: center;
}
.paginationButtons {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #206ef6;
  color: #206ef6;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  border: 1px solid #dd2834;
  background-color: #dd2834;
}

.activeButtons a {
  color: white;
  border: 1px solid #dd2834;
  background-color: #dd2834;
}
